.hero {
    min-height: 20em;
    overflow: hidden;
    position: relative;

    div {
        min-height: 20em;
    }

    &>div:nth-of-type(1) {
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        z-index: -1;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.2);
            z-index: 1;
        }
    }

    &>div:nth-of-type(2) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    h1 {
        color: white;
        font-weight: bolder;
        text-shadow: 1px 1px 15px rgb(0, 0, 0);
        z-index: 2;
    }
}