@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #1F6B8E;
  --secondary-color: #71B4C7;
  --tertiary-color: #D4FEFF;
  --accent1: #df663e;
  --accent2: #000000;
  --background: #ffffff;
  --foreground: #171717;
  --font-playfair: 'Playfair Display', serif;
  --font-roboto: 'Roboto', sans-serif;

  // Variable to assist in dark mode visibility when primary color is used for text
  // or other low contrast elements
  --primary-secondary: #1F6B8E;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary-secondary: #71B4C7;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-roboto);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-playfair);
  margin-top: .7em;
  padding: 10px;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.7em;
}

p {
  padding: 10px;
}